<h1> Meet Me Scheduler </h1>

<!-- Appointment List View -->
<div ng-hide="editing">
	<button class="btn btn-primary" ng-click="addAppointment(newAppointment)">Add appointment</button>
	<table border="1">
		<tr ng-repeat="appointment in appointmentList">
			<td>{{appointment.title}}</td>
			<td>{{appointment.start_date | date:'medium'}}</td>
			<td><button class="btn btn-success" ng-click="editAppointment($index)">Edit</button></td>
			<td><button class="btn btn-success" ng-click="deleteAppointment($index)">Delete</button></td>
		</tr>
	</table>
</div>

<!-- Add/Edit Appointment View -->
<div ng-show="editing">
	<form class="form-horizontal" style="position:absolute;left:153px">
	  <div class="control-group">
	    <label class="control-label">Title</label>
	    <div class="controls">
	      <input type="text" ng-model="appointmentList[appointmentIndex].title">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Start Date</label>
	    <div class="controls">
	      <input type="date" ng-model="appointmentList[appointmentIndex].start_date">
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button class="btn" ng-click="editAppointment()">Save</button>
	    </div>
	  </div>
	</form>
</div>




